.button-free-trial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 144px;
}
.button-free-trial {
  background: #d69a2a;
  border-radius: 12px;
  width: 345px;
  height: 56px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 97px;
  font-family: 'Libre Baskerville', serif;

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    font-size: 20px;
    line-height: 30px;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 24px;
    width: 453px;
    height: 68px;
  }
}
