.hero-background {
  height: 844px;
  background-image: url(../images/hero1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 51px;
  letter-spacing: 0.01em;
  color: #f5f5f5;
  text-align: left;
}
h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: #f5f5f5;
  /* font-weight: normal; */
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  margin-top: 80px;
}
